@model IEnumerable<MiniLibrary.Models.Book>

@{
    ViewData["Title"] = "Book List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAvailable)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <partial name="_BookImage" model="item" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre)
                </td>
                <td>
                    @if (item.IsAvailable)
                    {
                        <text>Available</text>
                    }
                    else
                    {
                        @if (item.Checkouts[0].Return == null)
                        {
                            <text>on Loan</text>
                            @if (item.ReserveUserId != null)
                            {
                                <br/>
                            }
                        }
                        @if (item.ReserveUserId != null)
                        {
                            @if (ViewBag.ReservedUser)
                            {
                                <text>Available</text>
                            }
                            else
                            {
                                <text>Reserved</text>
                            }
                        }
                    }
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id" asp-route-previous="Index">Details</a>
                    @if (ViewBag.Active)
                    {
                        @if (item.IsAvailable)
                        {
                            <a asp-action="Checkout" asp-route-id="@item.Id">Checkout</a>
                        }
                        else
                        {
                            @if (item.ReserveUserId == null && !ViewBag.CheckoutUser)
                            {
                                <a asp-action="Reserve" asp-route-id="@item.Id">Reserve</a>
                            }
                            else
                            {
                                @if (ViewBag.ReservedUser)
                                {
                                    <a asp-action="Checkout" asp-route-id="@item.Id">Checkout</a>
                                }
                            }
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
