@model IEnumerable<MiniLibrary.Models.Book>

@{
    ViewData["Title"] = "Book List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookAuthors)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAvailable)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <partial name="_BookImage" model="item" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @if (item.BookAuthors != null)
                    {
                        @foreach (var bookAuthor in item.BookAuthors)
                        {
                            @Html.DisplayFor(modelItem => bookAuthor.Author.Name)

                            <br />
                        }
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre)
                </td>
                <td>
                    @if (item.IsAvailable == true)
                    {
                        <text>Available</text>
                    }
                    else
                    {
                        @if (item.Checkouts[0].IsReturn == false)
                        {
                            <text>on Loan</text>
                        }
                        @if (item.Checkouts[0].IsReturn == false && item.ReserveUserId != null)
                        {
                            <br/>
                        }
                        @if (item.ReserveUserId != null)
                        {
                            @if (item.Checkouts[0].IsReturn == true && item.User != null)
                            {
                                <text>Available</text>
                            }
                            else
                            {
                                <text>Reserved</text>
                            }
                        }
                    }
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id" asp-route-previous="Index">Details</a>
                    @if (item.IsAvailable == true )
                    {
                        <a asp-action="Checkout" asp-route-id="@item.Id">Checkout</a>
                    }
                    else
                    {
                        @if (item.ReserveUserId == null && item.User == null)
                        {
                            <a asp-action="Reserve" asp-route-id="@item.Id">Reserve</a>
                        }
                        else if (item.ReserveUserId != null && item.User != null)
                        {
                            <a asp-action="Checkout" asp-route-id="@item.Id">Checkout</a>
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
