@model IEnumerable<MiniLibrary.Models.Book>

@{
    ViewData["Title"] = "My Checkout Books";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuthorId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Checkouts[0].StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Checkouts[0].EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Checkouts[0].Return)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <partial name="_BookImage" model="item" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AuthorId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Checkouts[0].StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Checkouts[0].EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Checkouts[0].Return)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id" asp-route-previous="CheckoutList">Details</a>
                    @if (item.Checkouts[0].Return == null)
                    {
                        <a asp-action="Return" asp-route-id="@item.Checkouts[0].Id">Return</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
