@model MiniLibrary.Models.Book

@{
    ViewData["Title"] = "Book Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string previous = ViewBag.Previous;
}

<h1>@ViewData["Title"]</h1>
<br />
<div class="row">
    <div class="col-sm-5">
        <partial name="_BookImage" model="Model" />
    </div>
    <div class="col-sm-7">
        <dl class="row">
            <dt class="col-sm-4 p-1">
                @Html.DisplayNameFor(model => model.Title)
            </dt>
            <dd class="col-sm-8 p-1">
                @Html.DisplayFor(model => model.Title)
            </dd>
            <dt class="col-sm-4 p-1">
                @Html.DisplayNameFor(model => model.BookAuthors)
            </dt>
            <dd class="col-sm-8 p-1">
                @if (Model.BookAuthors != null)
                {
                    @foreach (var bookAuthor in Model.BookAuthors)
                    {
                        @Html.DisplayFor(modelItem => bookAuthor.Author.Name)

                        <br />
                    }
                }
            </dd>
            <dt class="col-sm-4 p-1">
                @Html.DisplayNameFor(model => model.Genre)
            </dt>
            <dd class="col-sm-8 p-1">
                @Html.DisplayFor(model => model.Genre)
            </dd>
            <dt class="col-sm-4 p-1">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-8 p-1">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt class="col-sm-4 p-1">
                @Html.DisplayNameFor(model => model.Publisher)
            </dt>
            <dd class="col-sm-8 p-1">
                @Html.DisplayFor(model => model.Publisher.Name)
            </dd>
            <dt class="col-sm-4 p-1">
                @Html.DisplayNameFor(model => model.PublishedDate)
            </dt>
            <dd class="col-sm-8 p-1">
                @Html.DisplayFor(model => model.PublishedDate)
            </dd>
            <dt class="col-sm-4 p-1">
                @Html.DisplayNameFor(model => model.ISBN)
            </dt>
            <dd class="col-sm-8 p-1">
                @Html.DisplayFor(model => model.ISBN)
            </dd>
            <dt class="col-sm-4 p-1">
                @Html.DisplayNameFor(model => model.Pages)
            </dt>
            <dd class="col-sm-8 p-1">
                @Html.DisplayFor(model => model.Pages)
            </dd>
            <dt class="col-sm-4 p-1">
                @Html.DisplayNameFor(model => model.IsAvailable)
            </dt>
            <dd class="col-sm-8 p-1">
                @ViewBag.Status
            </dd>
        </dl>
    </div>
</div>
<div class="p-3">
    <a asp-action=@previous>Back to List</a>
</div>
