@model IEnumerable<MiniLibrary.Models.Book>

@{
    ViewData["Title"] = "My Reserved Books";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAvailable)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td style="width:100px;">
                    <partial name="_BookImage" model="item" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre)
                </td>
                <td>
                    @if (item.Checkouts[0].Return != null)
                    {
                        <text>Available</text>
                    }
                    else
                    {
                        <text>on Loan</text>
                    }
                </td>
                <td>
                    <a asp-action="Details" class="btn btn-outline-secondary" asp-route-id="@item.Id" asp-route-previous="ReservedList">Details</a>
                    @if (item.Checkouts[0].Return != null)
                    {
                        <br />

                        <a asp-action="Checkout" class="btn btn-outline-primary my-2" asp-route-id="@item.Id">Checkout</a>
                    }
                    <a asp-action="CancelReserve" class="btn btn-outline-secondary my-2" asp-route-id="@item.Id">Cancel</a>
                </td>
            </tr>
        }
    </tbody>
</table>
